<div class="container">
    <div class="row">
        <h2>Create Item</h2>
    </div>
    <div class="row">
        <div class="card">
            <div class="card-header">
                New Item
            </div>
            <div class="card-body">
                <form (submit)="createItem()">
                    <div class="form-group">
                        <input type="text" name="itemName" [(ngModel)]="created.itemName" id="" placeholder="Item Name">
                    </div>
                    <div class="form-group">
                        <input type="text" name="description" [(ngModel)]="created.description" id="" placeholder="Item Description">
                    </div>
                    <div class="form-group">
                        <input type="number" name="amount" [(ngModel)]="created.amount" id="" placeholder="0">
                    </div>
                    <div class="form-group">
                        <input type="text" name="owner" [(ngModel)]="created.owner" id="" placeholder="User Owner">
                    </div>
                    <button type="submit" class="btn btn-success btn-block">
                        Create
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
