.container {
    position: absolute;
    top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.names,
.otherNames {
    margin-bottom: 30px;
}

.content {
    max-width: 75%;
    background-color: black;
}

.close-button {
    padding-right: 10px;
}