<div class="container">
    <div class="row">
        <h2>Edit Item</h2>
    </div>
    <div class="row">
        <div class="card">
            <div class="card-header">
                New Item
            </div>
            <div class="card-body">
                <form autocomplete="off">
                    <div class="form-group">
                        <input type="text" name="itemName" [(ngModel)]="edited.itemName" id="" placeholder="Item Name">
                    </div>
                    <div class="form-group">
                        <input type="text" name="description" [(ngModel)]="edited.description" id="" placeholder="Item Description">
                    </div>
                    <div class="form-group">
                        <input type="number" name="amount" [(ngModel)]="edited.amount" id="" placeholder="0">
                    </div>
                    <div class="form-group">
                        <input type="text" name="owner" [(ngModel)]="edited.owner" id="" placeholder="User Owner">
                    </div>
                    <button type="submit" class="btn btn-success btn-block" (click)="this.updateItem()">
                        Edit
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>