<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">
                SignIn
            </div>
            <div class="card-body">
                <form (submit)="signIn()">
                    <div class="form-group">
                        <input type="text" [(ngModel)]="user.email" name="email" id="a1" placeholder="Email" required autofocus (click)="this.deleteUsrErr()">
                    </div>
                    <div *ngIf="this.realUsr$ | async">
                        <p>User name does not exist</p>
                    </div>
                    <div class="form-group">
                        <input type="password" [(ngModel)]="user.password" name="password" id="b2" placeholder="Password" required (click)="this.deletePassErr()">
                    </div>
                    <div *ngIf="this.realPass$ | async">
                        <p>Wrong Password</p>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">
                        SignIn
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

